backend/venv/
.venv/
node_modules/
backend/db.sqlite3
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
frontend/node_modules/
frontend/dist/
.env
*.log
out.txt
.vscode/
backend/staticfiles/
